<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<properties
		url="file:///D:\software\eclipse\workspace\mybatis-generator\Config.properties" />

	<classPathEntry location="${classPathEntry.oracle}" />
	<classPathEntry location="${classPathEntry.mysql}" />
	<classPathEntry location="${classPathEntry.sql}" />

	<context id="DB2Tables" targetRuntime="MyBatis3">
		<plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
		<plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="Example" />
			<property name="replaceString" value="Criteria" />
		</plugin>
		<plugin type="org.mybatis.generator.plugins.MysqlPaginationPlugin" />
		<plugin type="org.mybatis.generator.plugins.OraclePaginationPlugin" />
		
		<commentGenerator>
			<property name="suppressDate" value="true" />
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="${jdbcConnection.driverClass}"
			connectionURL="${jdbcConnection.connectionURL}" userId="${jdbcConnection.userId}"
			password="${jdbcConnection.password}">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>


		<javaModelGenerator targetPackage="${targetPackage}.entity"
			targetProject="${targetProject}">
			<property name="enableSubPackages" value="false" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="${targetPackage}.sqlmap"
			targetProject="${targetProject}">
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="${targetPackage}.dao" implementationPackage="${targetPackage}.dao.impl"
			targetProject="${targetProject}">
			<property name="enableSubPackages" value="false" />
			<property name="exampleMethodVisibility" value="public" />
			<property name="methodNameCalculator" value="extended" />
		</javaClientGenerator>

		<!-- <table schema="" tableName="guarantee_rule" > <generatedKey column="id" 
			sqlStatement="MySql" identity="true" /> <columnOverride column="name" javaType="java.util.Map" 
			typeHandler="com.itcrowd.framework.mybatis.handler.JsonTypeHandler" /> </table> 
			<table schema="" tableName="cancel_rule" > <generatedKey column="id" sqlStatement="MySql" 
			identity="true" /> <columnOverride column="name" javaType="java.util.Map" 
			typeHandler="com.itcrowd.framework.mybatis.handler.JsonTypeHandler" /> </table> 
			<table schema="" tableName="unionpaydm" /> <table schema="" tableName="initialdm" 
			/> <table schema="" tableName="TBL_WEB_MEMBER_INFO" /> <table schema="" tableName="TBL_BIZ_MERCHANT" 
			/> <table schema="" tableName="TBL_BIZ_LOAN_DATA" /> <table schema="" tableName="TBL_MHT_MONTH_INFO" 
			/> -->
			
		<table schema="" tableName="TBL_WEB_MEMBER_INFO" />	
		
		<!-- 
		<table schema="" tableName="resource" />
		<table schema="" tableName="role" />
		<table schema="" tableName="role_to_resource" />
		<table schema="" tableName="user" />
		<table schema="" tableName="user_to_role" />
		<table schema="" tableName="tbl_area_centre_rel" />
		<table schema="" tableName="tbl_area_info" />
		<table schema="" tableName="tbl_centre_info" />
		<table schema="" tableName="tbl_gjj_account_info" />
		<table schema="" tableName="tbl_gjj_branch_info" />
		<table schema="" tableName="tbl_gjj_login_info" />
		<table schema="" tableName="tbl_gjj_detail_info" />
		-->
		
		<!-- 
		<table schema="" tableName="tbl_weixin_info" />
		-->
		
	</context>
</generatorConfiguration>