<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhjr.fs.dao.WebSecCodeMapper" >
  <resultMap id="BaseResultMap" type="com.hhjr.fs.entity.WebSecCode" >
    <id column="seq_no" property="seqNo" jdbcType="INTEGER" />
    <result column="mobile_no" property="mobileNo" jdbcType="VARCHAR" />
    <result column="oper_type" property="operType" jdbcType="VARCHAR" />
    <result column="send_state" property="sendState" jdbcType="VARCHAR" />
    <result column="sec_code" property="secCode" jdbcType="VARCHAR" />
    <result column="eff_time" property="effTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    seq_no, mobile_no, oper_type, send_state, sec_code, eff_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hhjr.fs.entity.WebSecCodeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from web_sec_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from web_sec_code
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_sec_code
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hhjr.fs.entity.WebSecCodeCriteria" >
    delete from web_sec_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hhjr.fs.entity.WebSecCode" >
    insert into web_sec_code (seq_no, mobile_no, oper_type, 
      send_state, sec_code, eff_time
      )
    values (#{seqNo,jdbcType=INTEGER}, #{mobileNo,jdbcType=VARCHAR}, #{operType,jdbcType=VARCHAR}, 
      #{sendState,jdbcType=VARCHAR}, #{secCode,jdbcType=VARCHAR}, #{effTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhjr.fs.entity.WebSecCode" >
    insert into web_sec_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqNo != null" >
        seq_no,
      </if>
      <if test="mobileNo != null" >
        mobile_no,
      </if>
      <if test="operType != null" >
        oper_type,
      </if>
      <if test="sendState != null" >
        send_state,
      </if>
      <if test="secCode != null" >
        sec_code,
      </if>
      <if test="effTime != null" >
        eff_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="sendState != null" >
        #{sendState,jdbcType=VARCHAR},
      </if>
      <if test="secCode != null" >
        #{secCode,jdbcType=VARCHAR},
      </if>
      <if test="effTime != null" >
        #{effTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hhjr.fs.entity.WebSecCodeCriteria" resultType="java.lang.Integer" >
    select count(*) from web_sec_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update web_sec_code
    <set >
      <if test="record.seqNo != null" >
        seq_no = #{record.seqNo,jdbcType=INTEGER},
      </if>
      <if test="record.mobileNo != null" >
        mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.operType != null" >
        oper_type = #{record.operType,jdbcType=VARCHAR},
      </if>
      <if test="record.sendState != null" >
        send_state = #{record.sendState,jdbcType=VARCHAR},
      </if>
      <if test="record.secCode != null" >
        sec_code = #{record.secCode,jdbcType=VARCHAR},
      </if>
      <if test="record.effTime != null" >
        eff_time = #{record.effTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update web_sec_code
    set seq_no = #{record.seqNo,jdbcType=INTEGER},
      mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      oper_type = #{record.operType,jdbcType=VARCHAR},
      send_state = #{record.sendState,jdbcType=VARCHAR},
      sec_code = #{record.secCode,jdbcType=VARCHAR},
      eff_time = #{record.effTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhjr.fs.entity.WebSecCode" >
    update web_sec_code
    <set >
      <if test="mobileNo != null" >
        mobile_no = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        oper_type = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="sendState != null" >
        send_state = #{sendState,jdbcType=VARCHAR},
      </if>
      <if test="secCode != null" >
        sec_code = #{secCode,jdbcType=VARCHAR},
      </if>
      <if test="effTime != null" >
        eff_time = #{effTime,jdbcType=VARCHAR},
      </if>
    </set>
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhjr.fs.entity.WebSecCode" >
    update web_sec_code
    set mobile_no = #{mobileNo,jdbcType=VARCHAR},
      oper_type = #{operType,jdbcType=VARCHAR},
      send_state = #{sendState,jdbcType=VARCHAR},
      sec_code = #{secCode,jdbcType=VARCHAR},
      eff_time = #{effTime,jdbcType=VARCHAR}
    where seq_no = #{seqNo,jdbcType=INTEGER}
  </update>
</mapper>